<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Supercool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6F577381C68F13A00BB3A01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6F5774C1C68F13A00BB3A01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6F577571C68F13A00BB3A01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
